<header>
  <h1>
    <a href="/">Hello, I'm Daryl.</a>
  </h1>

  <nav>
    <a href="/posts">Posts</a>
    <a href="/resume.pdf">Resume</a>
  </nav>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116240690-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116240690-1');
  </script>
</header>
