<main>
  <p>
    I'm a
    <a href="https://github.com/dvrylc">software engineer</a> currently living in Singapore, focusing mostly on JavaScript and web architecture. Efficient products with clean codebases
    and good design excite me. I'm also passionate about open-source software.
  </p>

  <p>
    I'm currently serving my National Service. Once I'm done with that, I'll be starting as a Computer Science undergraduate
    at the National University of Singapore. Prior to this, I graduated from Singapore Polytechnic with a Diploma with Merit
    in Infocomm Security Management.
  </p>

  <p>
    I'm available for freelance web-related work. You can drop me an email at
    <a href="mailto:dvrylc@gmail.com">dvrylc@gmail.com</a> or contact me on
    <a href="https://twitter.com/dvrylc">Twitter</a>.
  </p>
</main>
